*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(14, 3, 3);
}
.bg{
    background-image: linear-gradient(rgba(37, 36, 36, 0.5), rgba(17, 17, 17, 0.5)),  url("./asset/nice\ melon\ cover.jpg");
    padding: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 95vw;
    height: 120vh;
    background-position: center;
    background-attachment: fixed
    
}

a{
    font-size: 1rem;
    text-decoration: none;
    color: bisque;
    font-family: 'Times New Roman', Times, serif;

}
.top-items{

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 10px;   
}

.icon{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #e9880a;;
    font-size: 1.5rem;
}
    
ul{
    display: flex;
    justify-content: center;

}

li{
    list-style-type: none;
    padding: 8px;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    background: #e6336e;
    padding: 10px 20px 10px 20px;
    text-decoration: rgb(22, 21, 22);
}

.header-text
{
    text-align: center;
    color:rgb(15, 15, 15);
    padding: 120px 0 30px;
    margin: auto;
}

span{
    font-family: cursive;
    color:blueviolet;
    font-size: 34px;
    font-weight: 700;
}

.header-text p{
    font-size: 40px;
}

.header-text1 p{
    font-size: 30px;
    color: rgb(223, 206, 231);
    /* background-color: white; */
    padding: 10px;
    border-radius: 10px;
}

.about-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.about-text{
    min-height: 8px;
    padding-right: 15px;
    padding-left: 15px;
    width: 50%;
    margin: auto;
    line-height: 21px;
    text-align: left;
}

.about-text h3{
    padding: 12px;
    font-size: 2rem;
}
.new-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: #13050a;
}


.new-item-text{
    padding: 40px;
    color: rgb(245, 236, 236);
}

.text{
    text-align: left;
    padding: 10px 0;
}

.submit{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.text h3{
    padding: 14px 0;
    color: red;
}

img{
    width: 100%;
}

.img{
    width: 70%;
}
.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 17px;
    grid-row-gap: 8px;
    text-align: center;
    }

 
.service {
    text-align: center;
    font-size: 20px;
    background-color: palegoldenrod;    
    padding-top: 80px;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
}
.services-card{
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Product-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 17px;
    }

.Products{
        padding-top: 100px;
        align-items: center;
        text-align: center;
        background-color: palegoldenrod;
} 

.Products h3{
    margin-bottom: 40px;
    font-size: 2rem;
}

.header-text1{
    text-align: center;
    font-size: 2rem;
    margin-top: 100px;
}

.Product-card img{
    width: 300px;
    height: 300px;
    border-radius: 2rem;
    
}
.Product-card p{
    padding: 5px;

}
.Our-Team{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 10px;
grid-row-gap: 0px;
/* justify-content: space-around; */


    
 
    
}

.Team-Members{
    margin-right: 50px;

}

.Team-Members img{
    width: 25vw;
    height: 35vh;
    border-radius: 10px;
}
.Teams h3{
    margin-bottom: 40px ;
    font-size: 2rem;
    text-align: center;
    padding: 5px;
}
footer{
    background-color: antiquewhite;
    padding: 50px;
}

.Teams{
    margin: 50px 40px;
    
}






